
.holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align:center;
	justify-content: space-evenly;
	
}

.item{
	background-color: red;
	width: 100px;
	margin: 10px;
	padding: 10px;
	